* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.home_hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* .overall_container {
    padding: 3rem 2rem 0 2rem;

    @media(max-width:600px) {
        padding: 3rem 1.5rem 0 1.5rem;
    }
} */

.home_video_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home_video_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home_head_container {
    background-color: #00006677;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.overall_home_container{
    padding: 0 5%;
}

.home_head {
    color: #fff;
    margin: 0;
    font-size: 50px;
    font-family: 'chillaxmedium';

    @media(max-width:550px) {
        font-size: 30px;
    }

    @media(max-width:350px) {
        font-size: 20px;
    }
}

.sub_head {
    color: #fff;

    span {
        font-weight: 600;
    }
}

.hero_btns_container {
    position: absolute;
    display: flex;
    gap: 1rem;
    /* Spacing between buttons */
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 1100;
    margin-top: -15%;

    @media(max-width:1000px) {
        margin-top: -20%;
    }

    @media(max-width:800px) {
        margin-top: -25%;
    }

    @media(max-width:550px) {
        margin-top: -40%;
    }

    @media(max-width:440px) {
        flex-direction: column;
        margin-top: -50%;
    }

    @media(max-width:400px) {
        margin-top: -60%;
    }

    @media(max-width:330px) {
        margin-top: -70%;
    }

    @media(max-width:300px) {
        margin-top: -80%;
    }
}

.video-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 1000px;
    transition: 0.5s all ease, transform 0.2s ease;

    span {
        font-size: 25px;
    }
}

.video-play-button:hover {
    background-color: #fff;
    color: #000066;
    transform: scale(1.05);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* Space between icon and text */
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Custom styling for the Upcoming Events button */

.upcoming-events-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 1000px;
    transition: 0.5s all ease, transform 0.2s ease;
}

.upcoming-events-button:hover {
    background-color: #fff;
    color: #000066;
    transform: scale(1.05);
}

/* Scroll Button */
.scroll-to-top {
    position: absolute;
    position: fixed;
    z-index: 500;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}

.arrow-icon {
    color: #fff;
    font-size: 1.5rem;
}

body {
    margin: 0;
    padding: 0;
}


/* Welcome */
.welcome_section {
    padding: 5% 0;
}

.welcome_bg {
    position: absolute;
    width: 30%;
    z-index: -1;
    margin: 10% 0 0 15%;
    opacity: 0.15;

    @media(max-width:600px) {
        width: 50%;
    }

    @media(max-width:350px) {
        width: 60%;
    }
}

.head_display {
    font-size: 20px;
    color: #00006693;
}

.head_display::after {
    content: "";
    width: 60px;
    height: 2px;
    border-radius: 20px;
    background-color: #00006693;
    position: absolute;
    left: 0;
    margin-top: 30px;
    margin-left: 5%;
    transition: 0.5s ease-in-out;
}

.welcome_head {
    color: #000066;
}

.welcome_content_container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 3%;

    @media(max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.pastor_image_big_container {

    @media(max-width:600px) {
        margin: 0 5%;
    }
}

.pastor_img_container {
    width: 100%;
    height: 90%;
    padding: 5%;
    background-color: #000066;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    display: flex;
    align-items: center;

    @media(max-width:1100px) {
        height: 80%;
    }

    @media(max-width:1000px) {
        padding: 3% 5%;
    }

    @media(max-width:980px) {
        height: 70%;
    }

    @media(max-width:900px) {
        height: 60%;
    }

    @media(max-width:840px) {
        height: 50%;
    }

    @media(max-width:760px) {
        height: 40%;
    }

    @media(max-width:660px) {
        height: 35%;
    }

    @media(max-width:600px) {
        height: 100%;
    }
}

.pastor_mucheka_img {
    width: 100%;
    border-radius: 15px;
    border-bottom-right-radius: 110px;
}

/* Brief History */
.brief_history {
    padding: 5% 0;
}

.lines {
    position: absolute;
    width: 15%;
    margin: 8% 0 0 15%;
    z-index: -1;
    opacity: 0.15;

    @media(max-width:600px) {
        width: 20%;
    }

    @media(max-width:350px) {
        width: 30%;
    }
}

.brief_history_head {
    color: #000066;
}

.years_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;

    @media(max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.years_image_container {
    display: flex;
    align-items: center;
    text-align: center;
}

.when_it_started {
    color: #00006677;
}

.years_img {
    width: 100%;
    opacity: 0.55;
}

/* Disciples In Action */
.disciples {
    padding: 5% 0;
}

.disciples_head {
    color: #000066;
}

.disciples_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;

    @media(max-width:1000px) {
        grid-template-columns: 1fr;
    }
}

.disciples_image_container {
    width: 100%;
    background-color: #000066;
    display: flex;
    align-items: center;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
}

.disciples_img_container {
    margin: 4%;
}

.disciples_img {
    width: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
}

.disciples_par {
    text-align: justify;
}

/* ----------------About Page---------------------- */
.about_page_hero {
    width: 100%;
    height: 70vh;
    background-image: url(../assets/images/home-3.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;

    @media(max-width:700px) {
        height: 50vh;
    }
}

.about_page_overlay {
    width: 100%;
    height: 70vh;
    background-color: #00006677;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width:700px) {
        height: 50vh;
    }
}

.about_head {
    color: #fff;
}

.about_welcome {
    padding-top: 3%;
}

.about_bg_img {
    width: 20%;
}

.our_mission_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_mission {
    margin-top: 5%;
}

.our_mission_head {
    color: #000066;
}

.our_mission_grid {
    margin: 3% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;

    @media(max-width:700px) {
        grid-template-columns: 1fr;
    }
}

.mission_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.great_commission {
    font-size: 25px;
    color: #000066;
    font-family: 'chillax';
    font-weight: 600;
    margin-bottom: 2%;
}

.mission_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scripture {
    font-family: 'chillaxmedium';
    font-weight: 600;
    color: #000066;

    @media(max-width:700px) {
        margin-top: 3%;
    }
}

.verse {
    color: #000066;
    font-weight: 600;

    @media(max-width:700px) {
        margin-top: 1%;
    }
}

/* Our Journey */
#our_journey {
    margin: 5% 0;
}

.journey_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.journey_par {
    width: 60%;

    @media(max-width:700px) {
        width: 100%;
    }
}

.journey_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    margin-top: 4%;
}

.about_video_container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../assets/images/home-3.jpg) center/cover no-repeat;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse_button {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s infinite;
    z-index: 10;
}

.play_icon {
    font-size: 32px;
    color: #000;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.youtube_iframe {
    width: 100%;
    height: 100%;
}


/* Our leadership */
#our_leadership {
    margin: 8% 0 5% 0;
}

.leadership_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.leadership_par {
    width: 60%;

    @media(max-width:700px) {
        width: 100%;
    }
}

.leaders_heading {
    font-size: 2rem;
    font-family: 'chillax';
    color: #000066;
    font-weight: 600;
}

.up_headings {


    @media(max-width:500px) {
        margin: 30% 0 5% 0;
    }
}

.leaders_grid_container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;

    @media(max-width:750px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:600px) {
        margin: 5% 5%;
    }

    @media(max-width:500px) {
        grid-template-columns: 1fr;
        gap: 1%;
    }
}

.leader_img_container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.leader_img {
    width: 100%;
    border-radius: 15px;
    border-bottom-right-radius: 110px;
    transition: 0.5s ease-in-out;

    @media(max-width:900px) {
        border-bottom-right-radius: 90px;
    }

    @media(max-width:500px) {
        border-bottom-right-radius: 110px;
    }

    @media(max-width:400px) {
        border-bottom-right-radius: 90px;
    }
}

.leader_img_container:hover .leader_img {
    border-radius: 15px;
}

.leader_name {
    margin-top: 3%;
    font-family: 'chillaxmedium';
    font-size: 20px;

    @media(max-width:900px) {
        font-size: 17px;
    }

    @media(max-width:500px) {
        font-size: 20px;
    }

    @media(max-width:330px) {
        font-size: 17px;
    }
}

/* Join Us Every Sunday */
#join_us_everysunday {


    @media(max-width:750px) {
        margin: 8% 0 5% 0;
    }

    @media(max-width:500px) {
        margin: 15% 0 5% 0;
    }
}

.join_us_flex {
    display: flex;
    gap: 3%;
    align-items: center;

    @media(max-width:800px) {
        flex-wrap: wrap;
    }
}

.join_us_head {
    font-size: 25px;
    font-family: 'chillax';
    font-weight: 600;
    color: #000066;
}

.join_us_left_container {
    width: 100%;

    img {
        width: 100%;
    }
}

/* ------------------------------Ministries------------------------- */
.ministry_heading {
    color: #000066;
    text-align: center;

}

.ministry_theme {
    font-size: 2rem;
    font-family: 'chillax';
    font-weight: 600;
    color: #000066;
    text-align: center;
}

.about_ministry_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.about_ministry_text {
    flex: 1 1 300px;
    font-size: 1rem;

    @media (max-width: 768px) {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .about_ministry_container {
        flex-direction: column;
        align-items: center;
    }
}

.video_background {
    width: 100%;
    height: auto;
    display: block;
}

/* ---------- YouTube Wrapper ---------- */
.youtube_video_wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 50vh;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    background: #000066;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

/* ---------- Thumbnail Container ---------- */
.youtube_thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.thumbnail_overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #00006650;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

/* ---------- Circular Pulse Play Button ---------- */
.play_button_pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 102, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: circularPulse 1.8s infinite;
}

.play_button {
    font-size: 30px;
    margin-left: 2px;
    color: white;
    z-index: 3;
}

/* ---------- Circular Pulse Keyframes ---------- */
@keyframes circularPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 102, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(0, 0, 102, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 102, 0);
    }
}

/* ---------- Embedded YouTube Video ---------- */
.youtube_video {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.childrens_leaders {
    text-align: center;
}

.childrens_grid {
    margin-bottom: 5%;

    @media(max-width:750px) {
        margin-bottom: 10%;
    }

    @media(max-width:500px) {
        margin-bottom: 20%;
    }
}

.childrens_testimonials_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------Choir------------------------------ */
.our_team_container {
    padding: 3rem 0 0 0;
    text-align: center;
}

.our_team_head {
    font-family: 'chillax';
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #000066;
}

.our_team_par {
    font-size: 1.1rem;
    color: #555;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.team_card {
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.team_img {
    width: 350px;
    object-fit: cover;
    margin: 0 auto 1rem;
    border-radius: 15px;
    border-bottom-right-radius: 110px;
    transition: 0.5s ease-in-out;

    @media(max-width:900px) {
        border-bottom-right-radius: 90px;
    }

    @media(max-width:500px) {
        border-bottom-right-radius: 110px;
    }

    @media(max-width:400px) {
        border-bottom-right-radius: 90px;
    }
}

.team_name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000066;
}

.team_role {
    font-size: 0.95rem;
    color: #444;
}

.team_card:hover .team_img {
    border-radius: 15px;
}



.cta_section {
    background: url(../assets//images/home-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.cta_section_overlay {
    text-align: center;
    color: #fff;
    padding: 3rem 1rem;
    margin-top: 3rem;
    background-color: #00006677;
}

.cta_section p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.cta_section h3 {
    font-size: 25px;
    margin-bottom: 1rem;
    font-family: 'chillax';
    font-weight: 600;
}

.join_button {
    padding: 0.75rem 2rem;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    border-radius: 1000px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.join_button:hover {
    background-color: #fff;
    color: #000066;
}

/* -----------------------------Homegroups------------------------- */
.homegroup_top_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homegroup_text {
    text-align: center;
}

.homegroup_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 40px;
    background-color: transparent;
    color: #000066;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000066;
    border-radius: 1000px;
    transition: 0.5s all ease-in-out;
}

.homegroup_btn:hover {
    color: #fff;
    background-color: #000066;
}

.homegroups_tag {
    color: #000066a6;
}

.map_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.map_card {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.map_card h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'chillax';
    color: #000066;
}


/* ------------------------------Events------------------------------ */
.video_container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;

    @media(max-width:700px) {
        height: 50vh;
    }
}

.video_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.events_head_container {
    background-color: #00006677;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width:700px) {
        height: 50vh;
    }
}

.events_head {
    text-align: center;
    color: #fff;
}

.top_events {
    height: 18vh;
    background-color: #000066;

    @media(max-width:1000px) {
        height: 15vh;
    }

    @media(max-width:500px) {
        height: 13vh;
    }
}



/* ------------------------------Resources--------------------------- */
.searchbar {
    font-family: 'chillax';
    font-size: 15px;
    margin-top: 2%;
    padding: 1% 2%;
    border-radius: 1000px;
    border: 2px solid #000066;
    width: 50%;

    @media(max-width:420px) {
        font-size: 13px;
    }
}

.searchBarbtn {
    font-family: 'chillax';
    margin-left: 2%;
    cursor: pointer;
    padding: 1% 2%;
    border-radius: 1000px;
    border: 1px solid transparent;
    background-color: #000066;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.searchBarbtn:hover {
    border: 1px solid #000066;
    background-color: transparent;
    color: #000066;
}

.resources_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;

    @media(max-width:900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.top_sermons {
    height: 18vh;
    background-color: #fff;

    @media(max-width:1000px) {
        height: 15vh;
    }

    @media(max-width:500px) {
        height: 13vh;
    }
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
}

.gallery_item {
    height: 300px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery_item:hover {
    transform: scale(1.02);
}

.load_more_btn_container {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.load_more_btn {
    padding: 1% 2%;
    background-color: transparent;
    color: #000066;
    border: 1px solid #000066;
    border-radius: 1000px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.load_more_btn:hover {
    background-color: #000066;
    color: #fff;
}

.image_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}

.image_modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    object-fit: cover;
}

@media(max-width: 600px) {
    .gallery_item {
        height: 200px;
    }

    .load_more_btn {
        width: 90%;
    }
}


/* ---------------------------Media Team-------------------- */
.media_team_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;

    @media(max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.media_team_img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media_team_img {
    width: 80%;
    border-radius: 15px;
    border-bottom-right-radius: 20%;
}

.cta_media_crew {
    background: url(../assets//images/home-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.cta_media_crew_overlay {
    text-align: center;
    color: #fff;
    padding: 3rem 1rem;
    margin-top: 3rem;
    background-color: #00006677;
}

.cta_media_crew p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.cta_media_crew h3 {
    font-size: 25px;
    margin-bottom: 1rem;
    font-family: 'chillax';
    font-weight: 600;
}

/* -------------------------Our Socials--------------------- */
.section_heading {
    font-size: 2rem;
    font-family: 'chillax';
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #000066;
}

.socials_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1.5rem;
    padding: 2rem 0;
}

.social_card {
    background: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: inherit;
    text-decoration: none;

    h3 {
        color: #000066;
    }
}

.social_card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(0, 0, 102, 0.2);
}

.social_icon {
    font-size: 2.5rem;
    color: #000066;
    margin-bottom: 0.8rem;
}

/* -------------------------Contact Page--------------------- */
.google_map_location {
    width: 100%;
    height: 50vh;
}

/* Overall Container for Content */
.overall_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Ministry Heading */
.ministry_heading {
    text-align: center;
    padding: 50px 20px 30px;
}

/* News Section */
.news-section {
    padding: 40px 0;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.news-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid transparent;
    /* Default border */
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.news-content {
    padding: 20px;
    flex-grow: 1;
    /* Allows content to take available space */
    display: flex;
    flex-direction: column;
}

.news-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
}

.news-date {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.news-excerpt {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    flex-grow: 1;
    /* Allows excerpt to push button to bottom */
}

.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000066;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    /* Align button to the start (left) */
}

.read-more-btn:hover {
    background-color: #00004d;
}

/* News Status Badge */
.news-status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
    z-index: 10;
}

.news-status.past {
    background-color: #6c757d;
    /* Gray */
}

.news-status.current {
    background-color: #000066;
    /* Your primary blue */
}

.news-status.ongoing {
    background-color: #ff7f00;
    /* Orange */
}

.news-status.future {
    background-color: #28a745;
    /* Green */
}

/* Scroll to Top Button Styles */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Below modal, above general content */
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}

.arrow-icon {
    color: #fff;
    font-size: 1.5em;
}

/* Responsive adjustments for News Section */
@media (max-width: 768px) {
    .news-grid {
        grid-template-columns: 1fr;
        /* Single column on smaller screens */
    }
}

/* --------------------------Overall Styles---------------------------- */
.overall_headings {
    margin: 0;
    font-size: 30px;
    font-family: 'chillaxmedium';
    font-weight: 600;

    @media(max-width:350px) {
        font-size: 20px;
    }
}

.page_headings {
    margin: 0;
    font-size: 50px;
    font-family: 'chillaxmedium';

    @media(max-width:350px) {
        font-size: 30px;
    }
}

.choir_carousel {
    margin-top: 0;
}